.flex {
  display: flex;
}

.align {
  align-items: center;
}

.justify {
  justify-content: center;
}

.invert {
  filter: invert(1);
}

.m1 {
  margin: 10px;
}

.p1 {
  padding: 20px;
}

.bder-rnd {
  border-radius: 7px;
}

.bg-grey {
  background-color: #222222;
}

.bg-black {
  background-color: black;
}

.icon-width {
  width: 25px;
  height: 25px;
}

.icon-width2 {
  width: 20px;
  height: 20px;
}

@font-face {
  font-family: "Circularsp";
  src: url("../Spotify/font/circularsp/CircularSpotifyText-Black.otf")
    format("truetype");
}

/* For WebKit/Blink browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #222; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Thumb color */
  border-radius: 6px; /* Rounded corners */
  /* Border around thumb */
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
