.flex {
  display: flex;
}

.align {
  align-items: center;
}

.justify {
  justify-content: center;
}

.invert {
  filter: invert(1);
}

.m1 {
  margin: 10px;
}

.p1 {
  padding: 10px;
}

.bder-rnd {
  border-radius: 7px;
}

.bg-grey {
  background-color: #121212;
}

.bg-black {
  background-color: black;
}

@font-face {
  font-family: "Circularsp";
  src: url("../Spotify/font/circularsp/CircularSpotifyText-Bold.otf")
    format("truetype");
}
